<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的Dao/Mapper接口-->
<mapper namespace="cn.tj712.mapper.UserMapper">
    <!--  查询语句  -->
    <select id="getUserList" resultType="user">
        select * from mybatis.t_user
    </select>
    <!--  根据ID查询数据库  -->
    <select id="getUserById" parameterType="int" resultType="user">
        select * from mybatis.t_user where id = #{id}
    </select>

    <!--  插入一个用户  -->
    <insert id="addUser" parameterType="user">
        insert into mybatis.t_user(`id`,`name`,`pwd`) values (#{id},#{name},#{pwd})
    </insert>

    <!--  修改用户  -->
    <update id="updateUser" parameterType="user">
        update mybatis.t_user set `name` = #{name}, `pwd` = #{pwd} where id = #{id}
    </update>

    <!--删除一个用户-->
    <delete id="delUser" parameterType="int">
        delete from mybatis.t_user where id = #{id}
    </delete>

    <!--  分页查询实现  -->
    <select id="getUserByLimit" parameterType="map" resultType="user">
        select * from mybatis.t_user limit #{startIndex},#{pageSize}
    </select>

    <!--  通过RowBounds进行分页  -->
    <select id="getUserByRowBounds" resultType="userMap">
        select * from mybatis.t_user
    </select>
</mapper>